<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>PrimeiroBack</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Login no meu site</description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.Login</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>adicionarTarefa</display-name>
    <servlet-name>adicionarTarefa</servlet-name>
    <servlet-class>servlets.adicionarTarefa</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>excluirTarefa</display-name>
    <servlet-name>excluirTarefa</servlet-name>
    <servlet-class>servlets.excluirTarefa</servlet-class>
  </servlet>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlets.Register</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>RegisterUser</display-name>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>servlets.RegisterUser</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AtualizarTarefa</display-name>
    <servlet-name>AtualizarTarefa</servlet-name>
    <servlet-class>servlets.AtualizarTarefa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtualizarTarefa</servlet-name>
    <url-pattern>/AtualizarTarefa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirUsuario</display-name>
    <servlet-name>ExcluirUsuario</servlet-name>
    <servlet-class>servlets.ExcluirUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirUsuario</servlet-name>
    <url-pattern>/ExcluirUsuario</url-pattern>
  </servlet-mapping>
</web-app>